
/* content style */

#content {
  position: relative;
  text-align: center;
  top: 40px;
  margin-left: 220px; /* needs to be adjusted with sidebar */
  z-index: 1;
  }
.quote {
  font-style: italic;
  }

.equation-table {
  text-align: center;
  margin: auto;
  }
.equation-table td {
  padding: 30px;
  border-bottom: 1px solid #A8BAA8;
  font-size: 1.5em;
  }
.equation {
  font-size: 1.5em;
}
.e-hover {
  position: relative;
  display: inline-block;
  cursor: pointer;
}
.e-dropdown {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
  right: 0;
}
