html, body {
  background-color: white;
  height: 100%;
  min-height: 100%;
  margin: 0px;

  }
.container {
  font-family:'Helvetica', sans-serif;
  height: 100%;
  width: 100%;

  }

/* header style */

#header {
  background-color: white;
  position: absolute;
  height: 43px;
  left: 0px;
  top: 0px;
  right: 0px;
  z-index: 6;
  font-family:'Helvetica', sans-serif;
  /*border-bottom: 2px solid black; */
  }
#menu {
}


#site-title{
  padding: 0px 30px 10px 30px;

}

.logo-box{
  float: left;
}

#logo {

  height: 40px;
}


#menu-bar {
  margin:auto;
  margin-top: 15px;
  margin-bottom: 10px;
  text-align: center;
  font-weight: 400;
  letter-spacing: 0.05em;
  font-size: 1em;
  }
.menu-item {
  padding: 0px 50px 0px 50px;
  border-right: 1px solid lightgray;
  vertical-align: bottom;
  }
.menu-item a:link {
  text-decoration: none;
  color: black;
  }
.menu-item a:visited {
  color: black;
  }
.menu-item a:hover {
  color: #ff3300;
  cursor: pointer;
  /*text-shadow: 3px 3px 4px lightgray; */
  }

.menu-home {
}
.menu-logo-box {
  padding: 0px 5px 0px 5px;
  border-right: none;
}

.menu-end {
  border-right: none;
  }
