#content {
  position: relative;
  top: 250px; /* change distance from header */
  z-index: 1;
  margin-left: 10%; /* for white space on sides */
  margin-right: 10%; /* for white space on sides */
}

/* title style */
#title-bar {
  width: 100%;
  height: 120px;
  background-color: #7ED1ED;
  border-bottom: 1px solid gray;

}

.title-icon {
  position: relative;
  display: inline;
  padding: 0px 30px 0px 30px;
  max-height:50%; /* scale with div */
  top: 50%;
  transform: translateY(-50%); /* to center the title in the box */

}


#title {
  position: relative;
  display: inline-block;
  padding: 0px 100px 0px 100px;
  font-family:'Source Sans Pro', sans-serif;
  letter-spacing: 3px;
  font-size: 3em;
  color: white;
  text-align: center; /* bad way of centering text */
  top: 50%;
  transform: translateY(-50%); /* to center the title in the box */
}

#title-menu {
  position: relative;
  text-align: center;

  padding: 10px 20px 10px 20px;
  margin: auto;

}

.title-menu-item {
  display: inline;
  padding: 5px 20px 5px 20px;
  font-size: 1.1em;
  border-bottom: 5px solid transparent; /* transparent border to leave space for underline */
  cursor: pointer;
}

.title-menu-item a {
  text-decoration: none;
  color: black;
}

.title-menu-item-selected {
  border-bottom: 5px solid #7ED1ED; /* toggled with JS to create underline */
}

.title-menu-item-selected a{
  color:#7ED1ED;
}


/*content style */

#chapter-table {
  margin: auto;
}

.chapter {
  width: 50%
}

.chapter-div {
  height: 100px;
  padding: 50px;
  cursor: pointer;
}

.chapter-title {
  font-size: 1.2em;
  color: #7ED1ED;
}

.topic {
  cursor: pointer;
}
