#content {
  margin: auto; /* center */
}

#title {
  position: relative;
  font-family: 'Oxygen', sans-serif; /* imported via Google Fonts */
  font-size: 3em;
  font-weight: 300;
  letter-spacing: 3px;
  top: 30px; /* distance from the top, NOT relative to menu bar, could be reworked */
  padding: 10px; /* to make space between title and title-line */
}
#title-line {
  position: relative;
  margin-left: 30%; /* change these to change width */
  margin-right: 30%; /* change these to change width */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); /* copied from w3 schools */
}

#group-table {
  position: relative;
  margin: auto;
  top: 40px; /* space from menu bar, could be improved */
}
#group-table td {
  padding: 20px; /* space between groups, don't really understand how to adjust */
}

.group {
  position: relative;
  margin: auto;
  border: gray 1px solid;
  height: 11em; /* relative sizing? */
  width: 20em; /* relative sizing? */
  background-color: #f9f9f9; /* shameless copy from w3schools.com */
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); /* shameless copy from w3schools.com */
  z-index: 2;
}

.group-title {
  position: absolute;
  margin: auto; /* bad way of centering text */
  display: block;
  text-align: center; /* bad way of centering text */
  width: 100%; /* bad way of centering text */
  top: 50%; /* to center the title in the box */
  transform: translateY(-50%); /* to center the title in the box */
  font-size: 2em;
  font-family: 'Oxygen', sans-serif;
  z-index: 2; /* below links */
}

.subjects {
  display: none; /* change with js  */
  z-index: 3; /* above title */
}
.subject-table {
  width: 100%; /* makes table take up all of subjects div */
  height: 100%; /* makes table take up all of subjects div */
}

.subject-table td {
  border: gray 1px solid;
  font-size: 1.2em;
  text-align: center;
  width: 50%; /* make all td boxes equal in size */
  height: 50%; /* make all td boxes equal in size */
  background-color: lightgray;
  cursor: pointer; /* changes cursor to hand, looks like link */
}
.subject-table td:hover {
  background-color: gray;
}
